{% extends "base.html" %}

{% block content %}

<form action="login" method="POST">
    <div class="form-group">
        <label for="username">Имя пользователя:</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Имя пользователя">
    </div>
    <div class="form-group">
        <label for="password">Пароль:</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Пароль">
    </div>
    <button type="submit" class="btn btn-primary" name="submit">Войти</button>
</form>

{% if error %}
<h1> Неправильно ебаные волки!!!!! </h1>
{% endif %}

<a href="/register">Регистрация</a>

{% endblock %}
